.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 29, 29);
}

.conteiner form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.conteiner form h2 {
  color: rgb(255, 255, 255);
}
.conteiner form input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  outline: none;
}

.conteiner form button {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.Barber {
  font-size: 60px;
  font-weight: 900;
  animation: Inicial 4s infinite;
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  margin-right: 100px;
}
.erros {
  color: wheat;
}
@media screen and (max-width: 700px) {
  .conteiner {
    width: 100%;
    height: 100dvh;
    flex-direction: column;
  }
  .conteiner form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  .conteiner form input {
    width: 80%;
  }
  .conteiner form button {
    width: 80%;
  }
  .Barber {
    font-size: 55px;
    font-weight: 900;
    animation: Inicial 4s infinite;
    color: brown;
  }
  .textAnimation {
    margin-top: 40px;
  }
}

@keyframes Inicial {
  0% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
