.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 29, 29);
}

.conteiner div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.conteiner div h2 {
  color: rgb(255, 255, 255);
}
.conteiner div input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  outline: none;
}

.conteiner div button {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.Barber {
  font-size: 80px;
  font-weight: 900;
  animation: Inicial 4s infinite;
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  
}

@media screen and (max-width: 700px) {
  .conteiner {
    width: 100%;
    height: 100dvh;
    flex-direction: column;
  }
  .conteiner div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  

  .conteiner div input {
    width: 80%;
  }
  .conteiner div button{
    width: 80%;
  }
  .Barber {
    font-size: 45px;
    font-weight: 900;
    animation: Inicial 4s infinite;
    color: brown;
    
  }
  .textAnimation{
    margin-top: 40px;
  }
  
}

@keyframes Inicial{
    0%{
        transform: translateY(-0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
