.cont{
    width: 100%;
    height: 100vh;
    background-color: rgb(23, 21, 21);
}
.conteudo{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.div{
    display: flex;
}

.agendados{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: blueviolet;
    padding: 20px;
    margin-left: 20%;
    border-radius: 10px;
    margin-bottom: 10px;

}

.renderLista{
    width: 100%;
    height: 90vh;
     background-color: rgb(23, 21, 21);
    overflow: hidden;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}
.renderLista h2{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.agendados p{
    color: white;
    font-weight: bold;
}
.agendados button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .cont{
        width: 100%;
        height: 100dvh;
        background-color: rgb(23, 21, 21);
    }
     .conteudo{
        flex-direction: column;
     }
     .renderLista{
        width: 100%;
        height: 50vh;
        background-color: rgb(23, 21, 21);
     }
     .agendados{
        width: 50%;
        margin-left: 10;
        padding: 10px;
     }
     
    
}